/* Este único archivo le da diseño a las 3 páginas */

body {
    font-family: comic sans ms, sans-serif;
    font-size: 20px;
    margin: 0;
}

header { background-color: #1E3A8A; padding: 20px; } 
nav { background-color: #1D4ED8; padding: 10px; } 
main { background-color: #DBEAFE; font-size: 1.1rem; padding: 20px; } 
footer { background-color: #1D4ED8; padding: 15px; }

li {
    display: flex;
    width: 35%;
    text-align: center;
}

h1 {
    text-align: left;
    font-family: comic sans ms, sans-serif;
    color: #89b6fa;
}

p {
    line-height: 3.0;
}

/* Estilo para los enlaces del menú */
nav a {
    color: rgb(209, 213, 248);
    text-decoration: none;
    font-weight: bold;
}